h1{
    text-align: right
    border: solid;
    border-width:50px;
}


div{
    text-align: center;
    font-size: 1px;
}

.vrai{
    width:100px
}

.faux{
    width:100px
}

img{
    width: 300px;
}